.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 32px;
}

.Gif h4 {
    margin: 6px;
}

.Gif img {
    object-fit: contain;
}